html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* p:not(:last-child) {
  margin-bottom: 0.875rem;
} */

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

.arrow::before {
  content: '';
  border: solid green 1px;
  /* border-width: 0 3px 3px 0; */
  display: inline-block;
  transform: rotate(-45deg);
}

.arrow::after {
  content: '';
  border: solid blue 1px;
  border-width: 0 3px 3px 0;
  /* display: inline-block; */
  transform: rotate(45deg);
}

.arrow {
  border: solid red 1px;
  /* border-width: 0 3px 3px 0; */
  display: inline-block;
}
